<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get marks</title>
</head>
<body>
    <h2>Submit form</h2>
    <form action="/submit", method = 'POST'>
        <label for="science">SCIENCE</label>
        <input type="text", id = "science" , name = "science"> <br>

        <label for="science">maths</label>
        <input type="text", id = "maths" , name = "maths"> <br>
        
        <label for="science">physics</label>
        <input type="text", id = "physics" , name = "physics"> <br>
        
        <input type="submit" value="Submit">
        
    <p>click o submit</p>
    </form>
</body>
</html>